[Desktop Entry]
Version=1.0
Type=Application
Name=MultiColor
Comment=An image manipulation tool for Commodore 8-bit computers' graphics formats. 
TryExec=multicolor
Exec=multicolor %F
Icon=/usr/local/share/multicolor/res/24x24/clone.png
Categories=Graphics;2DGraphics;RasterGraphics;
