Source: multicolor
Section: graphics
Priority: extra
Maintainer: Thomas Giesel <skoe@directbox.com>
Build-Depends: debhelper (>= 7), libwxgtk2.8-dev (>= 2.8.8.0)
Standards-Version: 3.8.0
Homepage: http://multicolor.berlios.de

Package: multicolor
Architecture: any
Depends: ${shlibs:Depends}
Description: image manipulation for Commodore 8-bit computers' graphics
 MultiColor is an image manipulation tool for Commodore 8-bit computers' 
 graphics formats. It is an old-school painting program for graphicians but not
 an image converter. Currently VIC-II multicolor bitmap is the only supported
 image format.
 .
 Features:
 - Written in C++, so it's quite fast and no special runtime is required
 - Can be compiled for many platforms, because it uses wxWidgets
 - Can load Koala and Amica, file type is detected independently from file name
 - Behaviour when hitting the color-per-cell-limit can be selected
 - Undo/redo
 - Tools with realtime preview (e.g. Line)
 - Basic TV emulation
 - Zoom, with grid at higher zoom factors
 .
 Latest versions can be found on multicolor.berlios.de.
